  /* navbar design starts here */

 .container{

    max-width:1200px;
    margin:0 auto;

 }
  /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.nav_logo{
  text-align: left;
}

.nav_header h2{
  justify-content: flex-end;
}


.nav_heading{
  margin-top: 10px;
} 

.nav_manu{
  flex-direction: row;
  justify-content: flex-end;
  margin-top:15px;
} 

.nav_manu ul  li{
   display: inline;
   margin: 30px 8px 0px 0px;
   padding: 8px;
   background-color: transparent;
}
 /* navbar design ends here */


 /* profile design starts here */
.profile_img img{
  width:270px;
  height:270px;
}
/* profile design ends here */


/* contact section starts here */

.input_sec{
  max-width:500px;
  margin-top:40px;
}


.contact_desc{
  text-align:left;
}

/* contact section ends here */


/* survice section starts here  */


.achivement_bar{
  margin-top:100px;
}

.contact_bar{
  text-align: center;
  position:relative;
}

.media_button{
  position:absolute;
  margin-top:150px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: left;
  width:150px;
}


/* survice section ends here  */


.footer_manu a{
  display: inline;
  margin-right:10px;
}